<div class="logos">
	<a href="http://www.ign.es/ign/main/index.do" target="_blank">
		<img src="/img/IGN_instituto.png" height="40">
	</a>
	<a href="http://www.fomento.gob.es/mfom/lang_castellano/default.htm" target="_blank">
		<img src="/img/logotipo_convenio.png" height="40">
	</a>
</div>

<span class="download_link">
	<ul>
		<li class="arcgis">
			<a download href="/proyects/caminos_parques_rutas.mxd" target="_blank">Descargar proyecto en formato Arcgis</a>
		</li>
		<li class="qgis">
			<a download href="/proyects/caminos_parques_rutas.qgs" target="_blank">Descargar proyecto en formato Qgis</a>
		</li>
	</ul>
</span>